@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root {
  --yasil: #a2ca28;
  --qirmizi: #fd634e;
}
header {
	position: relative;
	height: 100vh;
	background: url('../img/headerbg.jpg') center/cover;
	text-align: center;
}
header div, header nav {
	position: absolute;
}
header nav {
	right: 50%;
	top: 40px;
	transform: translate(50%, 0);
}
header div {
	bottom: 20vh;
	right: 50%;
	transform: translate(50%, 0);
	width: 100%;
}
#menu a {
  font: .8em Poppins, sans-serif;
  color: #fff;
  text-transform: uppercase;
}
h1 {
  font: 2em Poppins, sans-serif;
  color: #FFF;
  text-transform: uppercase;
}
h2 {
  font: 1.5em 'Open Sans', sans-serif;
  padding: 20px 0;
}
h6 {
  font: bold 1em 'Open Sans', sans-serif;
  color: #FFF;
  text-transform: uppercase;
}
h3 {
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(162, 202, 40);
	text-transform: uppercase;
  }
h5 {
	font: bold .875em 'Montserrat', sans-serif;
	color: rgb(253, 99, 78);
	text-transform: uppercase;
  }
h4{
	font-size: 1.0625em;
	font-family: 'Noto Sans', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
  }
  
  
#articles  {
	padding: 20px 0;
}
#articles article {
	padding: 10px;
}
#fitness { background: url('../img/fitness.jpg') center/cover }
#body { background: url('../img/body.jpg') center/cover }
#running { background: url('../img/running.png' ) center/cover }
#fit { background: url('../img/fit.png' ) center/cover }
#grapes { background: url('../img/grapes.png' ) center/cover }
#avacado { background: url('../img/avacado.png' ) center/cover }
#footer-bg {background: url('../img/footer-bg.png' ) center/cover; height: 100vh;}

.row h5, .row h3, .cent {
	text-align: center;
	line-height: 1.7em;
}
.center{
	text-align: center;
}
.text{
	padding-top: 2.5em;
}
.text-1{
	padding: 3.4em 2.6em 0 2em;
	overflow: auto;
}
.text-2{
	padding: 1.8em 3.9em 0 2.9em;
	overflow: auto;
}
.track{
	text-align: left!important;
	line-height: 1.2em!important;
}
#pi{
	margin-top: 2.5em;
	font-size: .8em;
	font-family: 'Noto Sans', sans-serif;
	color: rgb(101, 110, 116);
	line-height: 2em;
	  
}
#summer{
	font-size: 2.5em;
	font-family: 'Noto Sans', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
#sum{
	font-size: .8125em;
	font-family: 'Noto Sans', sans-serif;
	color: rgb(255, 255, 255);  
}
#eating{
	font-size: 2.1875em;
	font-family: 'Noto Sans', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
#eat {
	font-size: .875em;
	font-family: 'Noto Sans', sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.857em;
	margin-top: 2em;
  }
#footer-bg h1{
    font-size: 2.2125em!important;
	text-transform: none!important;
	font-family: 'Noto Sans', sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
}
#footer-bg h5{
    font-size: .7em!important;
	text-transform: none!important;
	font-family: 'Noto Sans', sans-serif!important;
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 1.9em;
	margin-top: 1.7em;
}
#footer-bg {
	padding-top: 10em;
}
  
  
.container {max-width: 1180px; margin: auto }
.bg-yasil { background: var(--yasil) }
.bg-qirmizi { background: var(--qirmizi)}
.bg-ag { background: #fff }
.txt-yasil { color: var(--yasil) }
.txt-qirmizi { color: var(--qirmizi)}
.txt-ag { color: #fff }
.h-50 { height: 50vh }
.h-45 { height: 45vh }





  


@media only screen and (min-width: 768px) {
	header nav {
		width: 100%;
		padding: 0 50px;
	}
	#logo { float: left }
	#menu {float: right }
	#menu li { display: inline-block; padding: 20px; }
	h1 { font-size: 2.5em }
	h6 { text-align: right; padding: 0 60px 0 0;}
	header div { 
		width: inherit;
		right: inherit;
		transform: none;
		left: 120px;
	}
	#articles { padding: 100px 0;}
	#articles article {
		width: 25%;
		float: left;
	}
	.row { overflow: auto }
	.w-1 { width: 34% }
	.w-2 { width: 66% }
	.left { float: left }
	.right { float: right }

}
















